@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto-Regular';
    color: hsl(234, 29%, 20%);
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh; /* Esto centra verticalmente */
}

#register {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

#register h1 {
    font-family: 'Roboto-Bold';
    font-size: 40px;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    margin-right: 40px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#illustration-sign-up {
    height: 92%;
    padding-right: 10px;
}

button {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: hsl(4, 100%, 67%);
    border-color: hsl(4, 100%, 67%);
}

#email-input {
    height: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-indent: 10px;
    color: hsl(234, 29%, 20%);
}

#email-input::placeholder {
    padding: 10px;
    font-family: 'Roboto-Regular';
}

label { 
    font-size: 10px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

li {
    padding-left: 30px; /* Espacio a la izquierda para el icono */
    background: url('../images/icon-list.svg') left center no-repeat; /* Aplica el icono como fondo */
    background-size: 16px 16px; /* Ajusta el tamaño del icono según tus necesidades */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.content p br {
    display: none;
}

@media (min-width: 820px) {
    .content p br {
        display: block;
    }
}

@media (max-width: 659px) {
    main {
        margin: 0;
    }

    #register {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    button {
        margin-bottom: 50px;
    }

    .content {
        padding-left: 30px;
    }

    #illustration-sign-up {
        height: 100%;
        padding: 0;
    }

    #register h1 {
        margin-top: 30px;
    }

    li {
        background: url('../images/icon-list.svg') left top no-repeat; /* Aplica el icono como fondo */
        background-size: 15px 15px; /* Ajusta el tamaño del icono según tus necesidades */   
    }

    footer {
        display: none;
    }

}